<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => false, :html => {:class => "form-stacked"}) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert-message block-message error">
      <%= devise_error_messages! %>
    </div>
  <% end %>
  <fieldset>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :institution %>
      <div class="input">
        <%= f.text_field :institution %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", :class => "btn success" %>
    </div>
  </fieldset>
<% end %>

