<div class="page-header">
  <h1><%= @user.country %></h1>
</div>

<table class="zebra-striped condensed-table bordered-table">
  <thead>
    <tr>
      <th><%=t('reports.show.year')%></th>
      <th><%=t('reports.show.basis')%></th>
      <th><%=t('reports.show.exports')%></th>
      <th><%=t('reports.show.imports')%></th>
      <th><%=t('reports.show.additional_information')%></th>
      <th><%=t('reports.show.submission_date')%></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.year, report %></td>
        <td><%= report.basis_humanize %></td>
        <td>
          <%= render :partial => "uploaded_files/list", :locals => {:report => report, :file_type => "exports"} %>
        </td>
        <td>
          <%= render :partial => "uploaded_files/list", :locals => {:report => report, :file_type => "imports"} %>
        </td>
        <td>
          <%= render :partial => "uploaded_files/list", :locals => {:report => report, :file_type => "additional_information"} %>
        </td>
        <td><%= report.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
