<div class="uploaded_file fields well">
  <span>
    <%= f.hidden_field :file_type %>
    <% if f.object.new_record? %>
      <%= f.label :document %>
      <%= f.file_field :document, :class => "xxlarge" %>
    <% else %>
      <label>file</label>
      <%= link_to f.object.document_file_name, f.object.document.url %>
    <% end %>
  </span>
  <%= link_to_remove_fields "remove", f %>
</div>

