<div id="confirm_submission" class="modal fade">
  <div class="modal-header">
    <h3>Report Submission</h3>
  </div>
  <div class="modal-body">
    <p><%= t('reports.form.confirmation_header') %></p>
    <dl>
      <dt><%=t('reports.show.year')%>:</dt>
      <dd id='confirm_year'></dd>

      <dt><%=t('reports.show.basis')%>:</dt>
      <dd id='confirm_basis'></dd>

    </dl>
    <p><strong>Exports</strong></p>
    <ul id="confirm_exports"></ul>
    <p><strong>Imports</strong></p>
    <ul id="confirm_imports"></ul>
    <p><strong>Additional Information</strong></p>
    <ul id="confirm_additional_information"></ul>
  </div>
  <div class="modal-footer">
    <span id="confirmation_warning" class="warning">Please check the messages above, amend where necessary and re-submit your report.</span><br />
    <%= link_to "Cancel", "#", :class => "btn danger", :id => "cancel" %><%= link_to "Submit", "#", :class => "btn success", :id => "do_submit"%>
  </div>
</div>
