<%= form_for @report, :html => {:class => "form-stacked"} do |f| %>
  <% if @report.errors.any? %>
    <div class="alert-message block-message error">
      <p><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</p>

      <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= t('reports.form.details_header')%></legend>
    <div class="alert-message block-message success">
      <p><%= t('reports.form.details_message')%></p>
    </div>
    <div class="clearfix">
      <%= f.label :year, t('reports.form.year') %>
      <div class="input">
        <%= f.select :year, options_for_select((6.years.ago.year..1.years.ago.year).to_a.reverse, :selected => f.object.year.presence||1.year.ago.year) %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :basis, t('reports.form.basis') %>
      <div class="input">
        <%= f.select :basis, CompilationBasis.to_a %>
      </div>
    </div>
  </fieldset>

  <!-- Upload part of the form is below this comment -->
  <fieldset id="files_upload_section">
    <legend><%= t('reports.form.upload_header') %></legend>
    <div class="alert-message block-message success">
      <p><%= t('reports.form.upload_message', :guidelines_url => "http://www.cites.org/eng/notif/2011/E019A.pdf").html_safe %></p>
    </div>
    <ul class="tabs" data-tabs="tabs">
      <li class="active"><a href="#exports"><%= t('reports.form.tab_exports') %></a></li>
      <li><a href="#imports"><%= t('reports.form.tab_imports') %></a></li>
      <li><a href="#additional_information"><%= t('reports.form.tab_information') %></a></li>
    </ul>
    <div class="tab-content">
      <div id="exports" class="active">
        <%= render :partial => "files_form", :locals => {:report => @report, :file_type => 'export', :f => f}%>
      </div>
      <div id="imports">
        <%= render :partial => "files_form", :locals => {:report => @report, :file_type => 'import', :f => f}%>
      </div>
      <div id="additional_information">
        <%= render :partial => "files_form", :locals => {:report => @report, :file_type => 'additional-information', :f => f}%>
      </div>
    </div>
  </fieldset>
  <div class="actions">
    <% submit_button = t('reports.form.submit') %>
    <%= f.submit submit_button, :class => "btn success" %>
  </div>
<% end %>
<%= render "confirm_submission" %>
<script type="text/javascript">
  $(function(){
      enableDisplayingSelectedFile("<%= t('reports.form.file_chosen') %>");
  });
</script>
