<%= form_for @report, :html => {:class => "form-stacked"} do |f| %>
  <% if @report.errors.any? %>
    <div class="alert-message block-message error">
      <p><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</p>

      <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= t('reports.form.details_header')%></legend>
    <div class="alert-message block-message success">
      <p><%= t('reports.form.details_message')%></p>
    </div>
    <div class="clearfix">
      <%= f.label :country, t('reports.form.country') %>
      <div class="input">
        <%= f.select :country, Countries::LIST_OF_COUNTRIES %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :year, t('reports.form.year') %>
      <div class="input">
        <%= f.select :year, options_for_select((6.years.ago.year..1.years.ago.year).to_a.reverse, :selected => f.object.year.presence||1.year.ago.year) %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :basis, t('reports.form.basis') %>
      <div class="input">
        <%= f.select :basis, CompilationBasis.to_a %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :contact_details, t('reports.form.contact_details') %>
      <div class="input">
        <%= f.text_field :contact_details %>
      </div>
    </div>
  </fieldset>
  <fieldset id="files_upload_section">
    <legend><%= t('reports.form.upload_header') %></legend>
    <div class="alert-message block-message success">
      <p><%= t('reports.form.upload_message', :guidelines_url => "#").html_safe %></p>
    </div>
    <ul class="tabs" data-tabs="tabs">
      <li class="active"><a href="#export"><%= t('reports.form.tab_exports') %></a></li>
      <li><a href="#import"><%= t('reports.form.tab_imports') %></a></li>
      <li><a href="#information"><%= t('reports.form.tab_information') %></a></li>
    </ul>
    <div class="tab-content">
      <div id="export" class="active">
        <div class="clearfix">
          <%= f.label :has_exports, t('reports.form.has_exports') %>
          <div class="input">
            <label for="report_has_exports_true" class="inline"><%= t('generic.word_yes') %></label> <%= f.radio_button :has_exports, true %><br />
            <label for="report_has_exports_false" class="inline"><%= t('generic.word_no') %></label> <%= f.radio_button :has_exports, false %>
          </div>
        </div>
        <div class='inset <%= f.object.has_exports? ? "" : "hide"%>' id="uploaded_exports">
          <%= link_to_add_fields t('reports.form.add_file'), f, :uploaded_exports, FileTypes::EXPORT %><br />
          <div class="uploaded_exports">
            <%= f.fields_for :uploaded_exports do |file_form| %>
              <%= render :partial => 'uploaded_files/uploaded_file_fields', :locals => { :f => file_form, :file_type => FileTypes::EXPORT } %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="import">
        <div class="clearfix">
          <%= f.label :has_imports, t('reports.form.has_imports') %>
          <div class="input">
            <label for="report_has_imports_true" class="inline"><%= t('generic.word_yes') %></label> <%= f.radio_button :has_imports, true %><br />
            <label for="report_has_imports_false" class="inline"><%= t('generic.word_no') %></label> <%= f.radio_button :has_imports, false %>
          </div>
        </div>
        <div class='inset <%= f.object.has_imports? ? "" : "hide"%>' id="uploaded_imports">
          <%= link_to_add_fields t('reports.form.add_file'), f, :uploaded_imports, FileTypes::IMPORT %><br />
          <div class="uploaded_imports">
            <%= f.fields_for :uploaded_imports do |file_form| %>
              <%= render :partial => 'uploaded_files/uploaded_file_fields', :locals => { :f => file_form, :file_type => FileTypes::EXPORT } %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="information">
        <div class="clearfix">
          <%= f.label :has_additional_information, t('reports.form.has_additional_information') %>
          <div class="input">
            <label for="report_has_additional_information_true" class="inline"><%= t('generic.word_yes') %></label> <%= f.radio_button :has_additional_information, true %><br />
            <label for="report_has_additional_information_false" class="inline"><%= t('generic.word_no') %></label> <%= f.radio_button :has_additional_information, false %>
          </div>
        </div>
        <div class='inset <%= f.object.has_additional_information? ? "" : "hide"%>' id="uploaded_informations">
          <%= link_to_add_fields t('reports.form.add_file'), f, :uploaded_informations, FileTypes::INFORMATION %><br />
          <div class="uploaded_informations">
            <%= f.fields_for :uploaded_informations do |file_form| %>
              <%= render :partial => 'uploaded_files/uploaded_file_fields', :locals => { :f => file_form, :file_type => FileTypes::EXPORT } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="actions">
    <% submit_button = t('reports.form.submit') %>
    <%= f.submit submit_button, :class => "btn success" %>
  </div>
<% end %>
<script type="text/javascript">
  enableDisplayingSelectedFile("<%= t('reports.form.file_chosen') %>");
</script>
