<%= form_for @report do |f| %>
  <% if @report.errors.any? %>
    <div class="alert-message block-message error">
      <p><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</p>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :country %>
    <div class="input">
      <%= f.select :country, Countries::LIST_OF_COUNTRIES %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :year, "What year does the annual report cover?" %>
    <div class="input">
      <%= f.select :year, options_for_select((10.years.ago.year..2.years.from_now.year).to_a, :selected => f.object.year.presence||Date.today.year) %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :basis, "On what basis was the annual report to CITES compiled?" %>
    <div class="input">
      <%= f.select :basis, CompilationBasis.to_a %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :contact_details, "For questions about the report, who should be contacted?" %>
    <div class="input">
      <%= f.text_field :contact_details %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
