<div class="page-header">
  <h1><%= t('reports.show.title') %></h1>
</div>

<dl>

  <dt><%=t('reports.show.year')%>:</dt>
  <dd><%= @report.year %></dd>

  <dt><%=t('reports.show.basis')%>:</dt>
  <dd><%= @report.basis_humanize %></dd>

</dl>

<p><strong><%=t('reports.show.exports')%></strong></p>
<%= render :partial => "uploaded_files/list", :locals => {:report => @report, :file_type => "exports"} %>

<p><strong><%=t('reports.show.imports')%></strong></p>
<%= render :partial => "uploaded_files/list", :locals => {:report => @report, :file_type => "imports"} %>

<p><strong><%=t('reports.show.additional_information')%></strong></p>
<%= render :partial => "uploaded_files/list", :locals => {:report => @report, :file_type => "additional_information"} %>

<% if current_user && current_user == @report.user %>
  <p><%= link_to "Amend", edit_report_path(@report), :class => "btn success" %></p>
<% end %>
