<div class="page-header">
  <%= link_to t('reports.show.back'), reports_path, :class => 'btn' %>
  <%= link_to t('reports.show.edit'), edit_report_path(@report), :class => 'btn success' %>
  <h1>Report</h1>
</div>

<dl>
  <dt><%=t('reports.show.country')%>:</dt>
  <dd><%= @report.country %></dd>

  <dt><%=t('reports.show.year')%>:</dt>
  <dd><%= @report.year %></dd>

  <dt><%=t('reports.show.basis')%>:</dt>
  <dd><%= @report.basis_humanize %></dd>

  <dt><%=t('reports.show.contact_details')%>:</dt>
  <dd><%= @report.contact_details %></dd>
</dl>

<p><strong><%=t('reports.show.exports')%></strong></p>
<% if @report.has_exports? %>
  <ul>
    <% @report.uploaded_exports.each do |file| %>
      <li><%= link_to file.document_file_name, file.document.url %></li>
    <% end %>
  </ul>
<% else %>
  <%=t('reports.show.no_exports')%>
<% end %>

<p><strong><%=t('reports.show.imports')%></strong></p>
<% if @report.has_imports? %>
  <ul>
    <% @report.uploaded_imports.each do |file| %>
      <li><%= link_to file.document_file_name, file.document.url %></li>
    <% end %>
  </ul>
<% else %>
  <%=t('reports.show.no_imports')%>
<% end %>

<p><strong><%=t('reports.show.additional_information')%></strong></p>
<% if @report.has_additional_information? %>
  <ul>
    <% @report.uploaded_additional_informations.each do |file| %>
      <li><%= link_to file.document_file_name, file.document.url %></li>
    <% end %>
  </ul>
<% else %>
  <%=t('reports.show.additional_information')%>
<% end %>
